*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(/imagenes/sistema.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}
.barranav{
    width: 900px;
    margin :0 auto;
    background-color: rgba(0, 0, 0, 0.534);
    width: 100%;
    clear: both;
    display: table;
    border-radius: 10px;
    
    
}


img {
    width: 140px;
    height: 90px;
    float: left;
    padding: 0;
}

 ul {
    float: right;
}


nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 25px;
    float: left;
}   




nav ul li a {

padding: 0px ;
text-decoration: none;
color: white;
font-family: 'Kanit', sans-serif;
box-shadow: black;
text-shadow: black;
}

.info {
    position: absolute;
    left: 25%;          
    transform: translateX(-50%); 
    background-color: rgba(0, 0, 0, 0.7);
    height: 430px;
    width: 330px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Young Serif', serif;

color: white;
}
.side-info {
    position: absolute;
    right: 25%; /* Ajusta el valor según sea necesario */
    transform: translateX(50%); 
    background-color: rgba(0, 0, 0, 0.7);
    height: 430px;
    width: 330px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Young Serif', serif;
    color: white;}





.redes-sociales {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px 0;
    text-align: center;
}

.redes-sociales a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.redes-sociales a:hover {
    color: #007bff; 
}

.redes{ color: white; 
padding: 10px 0 10px;
}

@media (max-width: 768px) {
    img {
        max-width: 100%;
        float: none;
        margin-bottom: 10px;
    }

    nav ul {
        float: none;
        text-align: center;
        margin: 10px 0;
    }

    nav ul li {
        display: block;
        margin: 0;
    }
}


